<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://earl.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-bay-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>earl</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$earl</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CurrencyEntitiesContext" Order="1" Enabled="False">
          <Destination Path="Data Source=u722c0x15y.database.windows.net,1433;Initial Catalog=Currency;Persist Security Info=True;User ID=curxchg;Password=TenD0l!ars;Application Name=EntityFramework" Name="Data Source=u722c0x15y.database.windows.net,1433;Initial Catalog=Currency;Persist Security Info=True;User ID=curxchg;Password=TenD0l!ars;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CurrencyInfo.Models.CurrencyEntitiesContext, CurrencyInfo" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="EFDbContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=tcp:u722c0x15y.database.windows.net,1433;Database=Currency;User ID=curxchg@u722c0x15y;Password=TenD0l!ars;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EFDbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:u722c0x15y.database.windows.net,1433;Database=Currency;User ID=curxchg@u722c0x15y;Password=TenD0l!ars;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CurrencyEntitiesContext-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.CurrencyExchangeModel.csdl|res://*/Models.CurrencyExchangeModel.ssdl|res://*/Models.CurrencyExchangeModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=u722c0x15y.database.windows.net,1433;Initial Catalog=Currency;Persist Security Info=True;User ID=curxchg;Password=TenD0l!ars;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>